@model IEnumerable<Weltrettung_2.Models.Weltretter>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center" style="margin-top:200px">
    @*<h1 class="display-4" style="color:darkred; font-weight:bolder;font-size:75px; font-family: 'Exocet'; text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff; ">@Weltretter.FirstName</h1>*@

    <h1 class="display-4" style="color:darkred; font-weight:bolder;font-size:75px; font-family: 'Exocet'; text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff; ">WILLKOMMEN<br />WELT-ZERSTÖRER</h1>
    <a class="btn btn-dark" style="color: black; font-family: 'Exocet'; font-size: 24px; font-weight: bolder; text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff;" href="https://localhost:44333/Weltretters">zum<br />Schlachtfeld</a>
</div>
