@{
    ViewData["Title"] = "Privacy Policy";
}
<style type="text/css">
    .bg {
        background-image: url(../wwwroot/bg-bild.lpg);
        
        width: 640px;
        height: 480px;
        border: 1px solid white;
        padding: 20px;
    }
</style>
<div class="bg">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

</div>